<div class="body">
    <div class="box1">
        <div class="sub-box">
            <p class="serious">Serious Business Serios Finace</p>
        </div>

        <div class="simple">
            <h1 class="sim">Simplifying </h1>
            <h1 class="for">Investing for </h1>  
        </div>

        <div class="simple1">
            <h1 class="you">you</h1>
           <p>Timely research and analysis intutive yet powerful business tools</p>
        </div>
        <button class="btn"></button>
    </div> 
    
    <div class="cloud-box1">
        <p class="cloud1"></p>
    </div>
    <div class="cloud-box2">
        <p class="cloud2"></p>
        
    </div>
    <div class="cloud-box3">
        <p class="sqr"></p>
    </div>
    <div class="cloud-box4">
        <p class="cloud4"></p>
    </div>
</div>

<div class="clouds">
    <div class="cloud13"></div>
    <div class="cloud14"></div>
    <div class="cloud15"></div>
    <div class="cloud16"></div>
    <div class="cloud17"></div>
    <div class="cloud18"></div>
    <div class="cloud19"></div>
    <div class="cloud20"></div>
    <div class="sqr21"></div>
    </div>